<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
   <h1>Congratulations! Your booking with <%= @listing.user.name %> is successful!</h1>
   <p>
     You can see details of your new booking here: <%= @url %>
   </p>
 </body>
</html>